#game {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.links path {
    stroke: #aaa;
    fill: transparent;
    stroke-width: 7px;
    pointer-events: all;
}

.nodes circle {
  pointer-events: all;
  stroke: none;
  stroke-width: 40px;
}
